@media (prefers-color-scheme: dark) {
  iframe[title="Agenda"] {
    background-color: black !important;
    color: white !important;
  }
  iframe[title="Tasks"], iframe[title="Keep"] {
    filter: invert(1);
  }
}